@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Koulen&family=Lato:ital,wght@1,900&family=Roboto+Mono&display=swap');



body{
    background-color: black;
    
}
.cursorLoco h1 {
    color:aliceblue;
    
    border-right: .15em solid orange;
    white-space: wrap;
    margin: 4rem 2rem 6rem 6rem;
    letter-spacing: .05em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
      font-family: "Roboto Mono" 400;
      font-size: 4rem;
  }
  
  /* efecto tipeado */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* cursor */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  h2{
    color: white
  }

  .ojos{
    height: 100%;
    width: 96rem;
    margin-top: -1rem;
    flex-wrap: wrap;
    opacity: 0.5;
    }

  .ojos:hover {
    opacity: 0.7;
    color: blue;
  }

 .linea{
    margin-top: -2rem;
    background-color: orange;
    height: 1em;
    width: 100%;
 }

 /////////////////////////////

 .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }